* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
}


.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }

  .btn {
    position: absolute;
    top: 120px;
    left: 200px;
    height: 50px;
    width: 150px;
    border: none;
      color: black;
      background-color: rgb(43, 157, 233);
  }